<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Expenses app</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <div ngbDropdown class="d-inline-block">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>Manage</a>
            <div class="dropdown-menu" ngbDropdownMenu>
              <button class="dropdown-item">Add</button>
              <button class="dropdown-item">Search</button>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="row">
    <div class="col-sm-6">
      <div class="card form-card">
        <div class="card-body">
          <h4 class="card-title">New expense</h4>
          <expense-form></expense-form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card search-card">
        <div class="card-body">
          <h4 class="card-title">Search</h4>
          <search></search>
        </div>
      </div>
      <div class="card list-card">
        <div class="card-body">
          <h4 class="card-title">Submitted expenses</h4>
          <expense-list></expense-list>
        </div>
      </div>
    </div>
  </div>
</div>