<sd-container>

  <sd-header applicationName="Expenses demo"></sd-header>

  <sd-body>
    <sd-sidebar>
      <sd-sidebar-item name="Expenses" routerLink="/expenses">
        <sd-subnav>
          <sd-sidebar-item routerLink="/expenses/form" name="add"></sd-sidebar-item>
          <sd-sidebar-item routerLink="/expenses/list" name="search"></sd-sidebar-item>
        </sd-subnav>
      </sd-sidebar-item>
      <sd-sidebar-item routerLink="/about" name="about"></sd-sidebar-item>
    </sd-sidebar>
    <router-outlet></router-outlet>

  </sd-body>

</sd-container>