<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card form-card">
        <div class="card-body">
          <h4 class="card-title">New expense</h4>
          <expense-form (newExpense)="addExpense($event)"></expense-form>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card search-card">
        <div class="card-body">
          <h4 class="card-title">Search</h4>
          <search [list]="list" (searchResult)="updateList($event)"></search>
        </div>
      </div>
      <div class="card list-card">
        <div class="card-body">
          <h4 class="card-title">Submitted expenses</h4>
          <expense-list [list]="viewList"></expense-list>
        </div>
      </div>
    </div>
  </div>
</div>