<table class="table" selectable #sort="sort">
  <thead>
    <tr>
      <th column="id">Id</th>
      <th column="name">Name</th>
      <th column="date">Date</th>
      <th column="amount">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let expense of list | orderBy : sort.column" [hidden]="expense.isHidden">
      <td>{{expense.id}}</td>
      <td>{{expense.name}}</td>
      <td>{{expense.date | date : 'longDate'}}</td>
      <td>{{expense.amount | currency : 'EUR' : 'symbol' }}</td>
    </tr>
  </tbody>
</table>
